<table class="tg">
  <% for (x = 0; x < 15; x ++) { %>
    <tr>
      <% for (y = 0; y < 15; y ++) { %>
        <td class="tg-031e">
          <div class='tile-container' id='tile_<%= x %>_<%= y %>'>
            <img class='board-tile empty' data-tile-id='tile_<%= x %>_<%= y %>' />
          </div>
        </td>
      <% } %>
    </tr>
  <% } %>
</table>
