<!DOCTYPE html>
<html>
  <head>
    <title>Scrabble</title>
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />

    <script id="letter-template" type="text/template">
      <div class='player-letter {{ status }}' data-uid='{{ uid }}'>
        <img class='letter-tile' src='{{ imageSrc }}' />
      </div>
    </script>

    <script id="tile-template" type="text/template">
      <img class='board-tile {{ status }}' data-tile-id='{{ tileId }}' src='{{ tileSrc }}' />
    </script>
  </head>
  <body id='scrabble-app'>
    <div class='container'>
      <div class="row">
        <section id='scrabble-board' class="col-md-8">
          <% include board %>
        </section>
        <div class="col-md-4">
          <section id='player-dashboard'>
            <section id='player-letters'></section>
            <button class='cancel-btn'>Cancel</button>
          </section>
        </div>
      </div>
    </div>

    <script src='bower_components/jquery/dist/jquery.min.js'></script>
    <script src='bower_components/underscore/underscore-min.js'></script>
    <script src='bower_components/backbone/backbone-min.js'></script>
    <script src='js/scrabble.js'></script>
    <script src='js/views/scrabbleView.js'></script>
    <script src='js/views/boardView.js'></script>
    <script src='js/views/letterView.js'></script>
    <script src='js/views/tileView.js'></script>
    <script src='js/views/playerDashboardView.js'></script>
    <script src='js/collections/lettersBag.js'></script>
    <script src='js/collections/boardTiles.js'></script>
    <script src='js/models/letter.js'></script>
    <script src='js/models/player.js'></script>
    <script src='js/models/tile.js'></script>
  </body>
</html>
