<!DOCTYPE html>
<html>
  <head>
    <title>Scrabble</title>
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />

    <script id="letter-template" type="text/template">
      <div class='player-letter {{ status }} {{ blank === true ? "blank": "" }}'>
        <img class='letter-tile' src='{{ imageSrc }}' />
      </div>
    </script>

    <script id="blank-letter-modal-template" type="text/template">
      <div class='modal-dialog modal-sm' role='document'>
        <div class='modal-content'>
          <h3 class='centre-aligned'>Please enter a letter</h3>
          <div class='row large-margin-top'>
            <div class='form-group col-sm-offset-4 col-sm-4'>
              <input class='form-control input-lg centre-aligned' id='update-blank-value' length='1' min-length='1' maxlength='1' />
            </div>
          </div>
          <div class='row centre-aligned large-margin-top'>
            <div class='col-sm-offset-4 col-sm-4'>
              <input disabled class='btn btn-lg btn-primary' type='button' value='Go' id='update-blank-letter' />
            </div>
          </div>
        </div>
      </div>
    </script>

    <script id="invalid-word-modal-template" type="text/template">
      <div class='modal-dialog modal-sm' role='document'>
        <div class='modal-content'>
          <h3 class='centre-aligned'>{{ words }}</h3>
          <h5 class='centre-aligned large-margin-top'>{{ wordLength === 1 ? "is not a valid word.": "are not valid." }}</h3>
          <div class='row centre-aligned large-margin-top'>
            <input class='btn btn-lg btn-primary'  type='button' value='OK' id='ok-button' />
          </div>
        </div>
      </div>
    </script>

    <script id="tile-template" type="text/template">
      <img class='board-tile {{ status }} {{ highlight }}' src='{{ tileSrc }}' data-tile-number='{{ tileNumber }}' />
    </script>

    <script id="word-template" type="text/template">
      <div class='played-word'>
        <h3 class='word-player'>{{ player }}</h3>
        <div class='word-value'>{{ value }}</div>
        <div class='word-points'>{{ points }}</div>
        <div class='word-meaning'>{{ meaning }}</div>
      </div>
    </script>

    <script id="player-template" type="text/template">
      <div id='player-name'><h3 style='color: white;'> {{ name }} </h3></div>
      <div id='player-score'><h4 style='color: white;'> {{ score }} </h4></div>
      <div id='player-letters'></div>
        <div class='large-margin-top'>
        <button class='btn btn-warning cancel-btn {{ active === false ? "hidden": "" }}'>Cancel</button>
        <button class='btn btn-success play-word-btn {{ active === false ? "hidden": "" }}'>Play Word</button>
        <button class='btn btn-primary switch-letter-btn {{ active === false ? "hidden": "" }}'>Switch Letter</button>
      </div>

    </script>
  </head>
  <body id='scrabble-app'>
    <div class='container'>
      <div class="row">
        <section id='scrabble-board' class="col-md-8">
          <% include board %>
        </section>
        <div class="col-md-4">
          <section id='player-dashboard-0'></section>
          <section id='player-dashboard-1'></section>

          <section class='played-words-list' id='played-words-list'></section>
        </div>
      </div>
    </div>
    <div id='modal' class='modal fade' role='dialog'>

    <script data-main="js/scripts/main" src="bower_components/requirejs/require.js"></script>
  </body>
</html>
