<!DOCTYPE html>
<html>
  <head>
    <title>Scrabble</title>
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />

    <script id="letter-template" type="text/template">
      <div class='player-letter {{ status }}' data-uid='{{ uid }}'>
        <img class='letter-tile' src='{{ imageSrc }}' />
      </div>
    </script>

    <script id="tile-template" type="text/template">
      <img class='board-tile {{ status }} {{ highlight }}' data-tile-id='{{ tileId }}' src='{{ tileSrc }}' />
    </script>

    <script id="word-template" type="text/template">
      <div>
        <div class='word-value'>{{ value }}</div>
        <div class='word-points'>{{ points }}</div>
        <div class='word-meaning'>{{ meaning }}</div>
      </div>
    </script>

    <script id="player-template" type="text/template">
      <div id='player-name'><h3 style='color: white;'> {{ name }} </h3></div>
      <div id='player-score'><h4 style='color: white;'> {{ score }} </h4></div>
      <div id='player-letters'></div>
      <button class='cancel-btn'>Cancel</button>
      <button class='play-word-btn'>Play Word</button>
    </script>
  </head>
  <body id='scrabble-app'>
    <div class='container'>
      <div class="row">
        <section id='scrabble-board' class="col-md-8">
          <% include board %>
        </section>
        <div class="col-md-4">
          <section id='player-dashboard'></section>

          <section id='played-words-list'></section>
        </div>
      </div>
    </div>

    <script src='bower_components/jquery/dist/jquery.min.js'></script>
    <script src='bower_components/underscore/underscore-min.js'></script>
    <script src='bower_components/backbone/backbone-min.js'></script>
    <script src='js/scrabble.js'></script>
    <script src='js/backbone.helper.js'></script>
    <script src='js/views/scrabbleView.js'></script>
    <script src='js/views/boardView.js'></script>
    <script src='js/views/letterView.js'></script>
    <script src='js/views/tileView.js'></script>
    <script src='js/views/playerDashboardView.js'></script>
    <script src='js/views/playedWordsView.js'></script>
    <script src='js/views/wordView.js'></script>
    <script src='js/collections/placedLetters.js'></script>
    <script src='js/collections/playerLetters.js'></script>
    <script src='js/collections/players.js'></script>
    <script src='js/collections/lettersBag.js'></script>
    <script src='js/collections/boardTiles.js'></script>
    <script src="js/collections/playedWords.js"></script>
    <script src='js/models/letter.js'></script>
    <script src='js/models/player.js'></script>
    <script src='js/models/tile.js'></script>
    <script src='js/models/word.js'></script>
    <script src='js/helpers/dictionaryHelper.js'></script>
    <script src='js/helpers/letterHelper.js'></script>
    <script src='js/helpers/tileHelper.js'></script>
  </body>
</html>
