<!DOCTYPE html>
<html>
  <head>
    <title>Scrabble</title>
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />

    <script id="letter-template" type="text/template">
      <div class='player-letter {{ status }} {{ blank === true ? "blank": "" }}'>
        <img class='letter-tile' src='{{ imageSrc }}' />
      </div>
    </script>

    <script id="blank-letter-modal-template" type="text/template">
      <div class='modal-dialog modal-sm' role='document'>
        <div class='modal-content'>
          <h3 class='centre-aligned'>Please enter a letter</h3>
          <div class='row large-margin-top'>
            <div class='form-group col-sm-offset-4 col-sm-4'>
              <input class='form-control input-lg centre-aligned' id='update-blank-value' length='1' min-length='1' maxlength='1' />
            </div>
          </div>
          <div class='row centre-aligned large-margin-top'>
            <div class='col-sm-offset-4 col-sm-4'>
              <input class='btn btn-lg btn-primary' type='button' value='Go' id='update-blank-letter' />
            </div>
          </div>
        </div>
      </div>
    </script>

    <script id="invalid-word-modal-template" type="text/template">
      <div class='modal-dialog modal-sm' role='document'>
        <div class='modal-content'>
          <h3 class='centre-aligned'>{{ words }}</h3>
          <h5 class='centre-aligned large-margin-top'>{{ wordLength === 1 ? "is not a valid word.": "are not valid." }}</h3>
          <div class='row centre-aligned large-margin-top'>
            <input class='btn btn-lg btn-primary'  type='button' value='OK' id='ok-button' />
          </div>
        </div>
      </div>
    </script>

    <script id="tile-template" type="text/template">
      <img class='board-tile {{ status }} {{ highlight }}' src='{{ tileSrc }}' />
    </script>

    <script id="word-template" type="text/template">
      <div class='played-word'>
        <h3 class='word-player'>{{ player }}</h3>
        <div class='word-value'>{{ value }}</div>
        <div class='word-points'>{{ points }}</div>
        <div class='word-meaning'>{{ meaning }}</div>
      </div>
    </script>

    <script id="player-template" type="text/template">
      <div id='player-name'><h3 style='color: white;'> {{ name }} </h3></div>
      <div id='player-score'><h4 style='color: white;'> {{ score }} </h4></div>
      <div id='player-letters'></div>
      <button class='cancel-btn {{ active === false ? "hidden": "" }}'>Cancel</button>
      <button class='play-word-btn {{ active === false ? "hidden": "" }}'>Play Word</button>

    </script>
  </head>
  <body id='scrabble-app'>
    <div class='container'>
      <div class="row">
        <section id='scrabble-board' class="col-md-8">
          <% include board %>
        </section>
        <div class="col-md-4">
          <section id='player-dashboard-0'></section>
          <section id='player-dashboard-1'></section>

          <section class='played-words-list' id='played-words-list'></section>
        </div>
      </div>
    </div>
    <div id='modal' class='modal fade' tabindex='-1' role='dialog'>

    <script src='bower_components/jquery/dist/jquery.min.js'></script>
    <script src='bower_components/underscore/underscore-min.js'></script>
    <script src='bower_components/backbone/backbone-min.js'></script>
    <script src='bower_components/bootstrap/js/modal.js'></script>
    <script src='js/scrabble.js'></script>
    <script src='js/backbone.helper.js'></script>
    <script src='js/helpers/dictionaryHelper.js'></script>
    <script src='js/helpers/letterSelection.js'></script>
    <script src='js/helpers/tileHelper.js'></script>
    <script src='js/helpers/tileHighlighter.js'></script>
    <script src='js/views/scrabbleView.js'></script>
    <script src='js/views/baseModalView.js'></script>
    <script src='js/views/blankLetterView.js'></script>
    <script src='js/views/boardView.js'></script>
    <script src='js/views/letterView.js'></script>
    <script src='js/views/invalidWordView.js'></script>
    <script src='js/views/tileView.js'></script>
    <script src='js/views/playerDashboardView.js'></script>
    <script src='js/views/playedWordsView.js'></script>
    <script src='js/views/wordView.js'></script>
    <script src='js/collections/placedLetters.js'></script>
    <script src='js/collections/playerLetters.js'></script>
    <script src='js/collections/players.js'></script>
    <script src='js/collections/lettersBag.js'></script>
    <script src='js/collections/boardTiles.js'></script>
    <script src="js/collections/playedWords.js"></script>
    <script src='js/models/letter.js'></script>
    <script src='js/models/player.js'></script>
    <script src='js/models/tile.js'></script>
    <script src='js/models/word.js'></script>
    <script src='js/helpers/letterHelper.js'></script>
  </body>
</html>
